@import url(./__title/infotooltip__title.css);
@import url(./__image/infotooltip__image.css);

.infotooltip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 6;
}