.infotooltip__title {
    font-family: 'Inter', 'Arial', sans-serif;
    width: 358px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 68px;
    text-align: center;
}