.profile__subtitle {
    max-width: 318px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    text-rendering: optimizeLegibility;
    grid-column: 1/2;
}

@media screen and (max-width: 920px) {
    .profile__subtitle {
        max-width: 280px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        grid-column: 1/-1;
    }
}